<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Example bean definition -->
    <bean id="student" class="com.giaolang.demo." />

    <!-- Định nghĩa bean HelloWorld -->
    <bean id="helloWorld" class="com.example.beans.HelloWorld">
        <property name="message" value="Hello, Spring Core!"/>
    </bean>

</beans>